<div class="row">
    <div class="login-image">

        <div class="card-header d-flex justify-content-around pd-form">
            <h4>REGISTRO DE USUARIO</h4>
        </div>

        <!--FORMULARIO-->
        <div class="COL-12 pd-form">
            <form [formGroup]="form">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4">
                        <input type="text" placeholder="Nombre(s)*" class="size-input" formControlName="name">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" placeholder="Apellido(s)*" class="size-input" formControlName="lastName">
                    </div>
                </div>
            </form>
        </div>

        <div class="COL-12 pd-form">
            <form [formGroup]="form">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4">
                        <select id="int" class="form-control custom-select" formControlName="identType">
                            <option selected value="">Tipo de identificacion*</option>
                            <option *ngFor="let type of documentType" value="{{type.id}}">
                                {{type.type}} - {{type.description}}
                            </option>
                        </select>
                        <!--<input type="text" placeholder="Tipo de identificacion*" class="size-input"
                            formControlName="identType">-->
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="number" placeholder="No. de identificacion*" class="size-input"
                            formControlName="identNumber">
                    </div>
                </div>
            </form>
        </div>

        <div class="COL-12 pd-form">
            <form [formGroup]="form">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4">
                        <input type="email" placeholder="Correo Electronico*" class="size-input" formControlName="email">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="number" placeholder="Celular*" class="size-input" formControlName="contact">
                    </div>
                </div>
            </form>
        </div>

        <div class="COL-12 pd-form">
            <form [formGroup]="form">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4">
                        <input type="text" placeholder="Direccion*" class="size-input" formControlName="address">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" placeholder="Usuario*" class="size-input" formControlName="user">
                    </div>
                </div>
            </form>
        </div>

        <div class="COL-12 pd-form">
            <form [formGroup]="form">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4">
                        <input type="password" placeholder="Contraseña*" class="size-input" formControlName="initPassword">
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="password" placeholder="Confirmar Contraseña*" class="size-input"
                            formControlName="confPassword">
                    </div>
                </div>
            </form>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text">
                    <h6>Nota: Recuerde que la información suministrada debe ser veraz. A fin de asegurar su atención.
                        Ley 1581 año 2012 Art. 4.</h6>
                </div>
            </div>
        </div>

        <div class="COL-12">
            <div class="form-check d-flex justify-content-center">
                <div class="col-8">
                    <form [formGroup]="form">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName="polity">
                    </form>
                    <label class="form-check-label" for="flexCheckDefault">
                        Acepto la
                    </label>
                    <label class="check"> politica de protección de datos personales</label>
                </div>

            </div>
        </div>

        <div class="COL-12">
            <div class="d-flex justify-content-center pd-capcha">
                <div class="col-6 capcha d-flex justify-content-around">
                    <form [formGroup]="form">
                        <div class="col-2">
                            <div class="col-8 box-capcha">
                                <input class="form-check-input input-capcha" type="checkbox" value=""
                                    id="flexCheckDefault" formControlName="capcha">
                            </div>
                        </div>
                    </form>
                    <div class="col-6 text-capcha">
                        <label> No soy un robot </label>
                    </div>
                    <div class="col-4 capcha-img">
                        <img src="../../../assets/Capcha sin fondo.png">
                    </div>
                </div>

            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <button class="btn-header bt-into col-6" (click)="back()">Volver</button>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <button class="btn-header bt-into col-6" (click)="registerUser()">Continuar</button>
                    <!--[disabled]="elements.name === '' && elements.lastName === ''  && elements.identType === ''  && elements.user === ''  && elements.identNumber === '' 
      && elements.email === ''  && elements.contact === ''  && elements.address === ''  && elements.password === '' && elements.polity === '' && elements.capcha === ''"-->
                </div>
            </div>
        </div>



    </div>

</div>