




    <div class="row">

        <div class="col-md-12 position-relative">
            <img src="https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Hacemos realidad tus ideas" class="img-home" style="width: 100%;">

            <div class="text-overlay position-absolute top-50 start-50 translate-middle">
                <h1 class="text-white text-center">Hacemos realidad tus ideas</h1>
            </div>
        </div>


    </div>


    <div id="nosotros" class="container text-center my-5 p-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Nosotros</h1>

                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="card p-4 shadow  bg-light border-white">

                                <p class="card-text">Somos un equipo apasionado de desarrolladores freelancers con
                                    un propósito común: brindar soluciones tecnológicas innovadoras y de alta
                                    calidad a nuestros clientes en todo el mundo.</p>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>



    <div id="servicios" class="container text-center my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4 shadow  bg-light border-white">
                    <h1 class="card-title">Servicios</h1>


                    <p class="card-text">Desarrollo Web: Creamos sitios web a medida utilizando las últimas
                        tecnologías y prácticas de diseño responsivo para garantizar una experiencia óptima para los
                        usuarios.</p>

                    <p class="card-text">Mantenimiento y Soporte: Proporcionamos servicios de mantenimiento
                        continuo, actualizaciones y soporte técnic o para garantizar el
                        funcionamiento óptimo de las soluciones desarrolladas.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/400"
                    alt="Imagen de ejemplo" class="img-fluid">
            </div>
        </div>


    </div>

    <div id="reseñas" class="container text-center my-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Reseñas</h1>

                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow  bg-light border-white">


                                <div class="card-body">
                                    <h5 class="card-title"><img
                                            src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg"
                                            class="card-img-top rounded-circle img-thumbnail imagen-reseña"
                                            alt="Foto del revisor">Camila Rodriguez</h5>
                                    <p class="card-text">“Obtuve el produto deseado,tal cual los requerimientos”</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-4 shadow  bg-light border-white">

                                <div class="card-body">

                                    <h5 class="card-title"><img
                                            src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                            class="card-img-top rounded-circle img-thumbnail imagen-reseña"
                                            alt="Foto del revisor">Carlos Perez</h5>
                                    <p class="card-text">“Es una excelente opción si requieres plasmar un proyecto en
                                        mente”</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-4 shadow  bg-light border-white">

                                <div class="card-body">

                                    <h5 class="card-title"><img
                                            src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                            class="card-img-top rounded-circle img-thumbnail imagen-reseña"
                                            alt="Foto del revisor">Jose Sanchez </h5>
                                    <p class="card-text">“Recomendado si deseas tener tu propio sitio”</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>








