

<header class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <div class="logo"><a class="navbar-brand" routerLink="/home"><img src="../assets/LogoFreeDev.png"></a></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reseñas">Reseñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contáctanos</a>
        </li>
        <li class="nav-item" *ngIf="!isInAdministrationPage()">
          <button class="btn btn-header" (click)="goTo('login')">Iniciar sesión</button>
        </li>
        <li class="nav-item" *ngIf="!isInAdministrationPage()">
          <button class="btn btn-header" (click)="goToReg('register')">Registrarse</button>
        </li>
        <li class="nav-item" *ngIf="isInAdministrationPage()">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</header>




<router-outlet/>


<footer class=" text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo logo">
          <img src="../assets/LogoFreeDev.png" alt="Logo">
        </div>
       
      </div>

      <div class="col-md-4">
        
        <div class="footer-contact">
          <p>Teléfono: +1234567890</p>
          <p>Email: contactogmail.com</p>
          <p>&copy; 2024 Mi Sitio. Todos los derechos reservados.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  
</footer>